.overflow-hidden {
    overflow: hidden;
}
.click-none {
    pointer-events: none;
}
.click-default {
    pointer-events:auto;
}
#searchClear {
    margin-left: -2em;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #DDDDDD;
}
a:hover {
    color: #7a1c16;
}
.color-accent {
    background-color: #1F252B;
}
.underflow {
    margin-top: -3.5rem;
}
.full-viewport {
    min-height: 100vh;
}
.pt-8 {
    padding-top: 3rem!important;
}